## Images built as part of the DPF release.
dmsImage: ${HOSTDRIVER_UPSTREAM_IMAGE}:${TAG}
dpfSystemImage: ${DPF_SYSTEM_UPSTREAM_IMAGE}:${TAG}
bfbRegistryImage: ${BFB_REGISTRY_UPSTREAM_IMAGE}:${TAG}
dpfStorageSystemImage: ${STORAGE_SYSTEM_UPSTREAM_IMAGE}:${TAG}
dpfStorageHostImage: ${STORAGE_HOST_UPSTREAM_IMAGE}:${TAG}
cniInstallerImage: ${CNIINSTALLER_UPSTREAM_IMAGE}:${TAG}
keepalivedImage: ${KEEPALIVED_UPSTREAM_IMAGE}:${TAG}

## Helm charts built as part of the DPF release.
dpuNetworkingHelmChart: ${UPSTREAM_HELM_REGISTRY}/${DPU_NETWORKING_HELM_CHART_NAME}:${TAG}

## Extra dependencies that are directly refered by the DPF binaries, but not built as part of the DPF release.
nodeSRIOVDevicePluginImage: ${NODE_SRIOV_DEVICE_PLUGIN_IMAGE}:${NODE_SRIOV_DEVICE_PLUGIN_TAG}
kataDeployImage: ${KATA_DEPLOY_IMAGE}:${KATA_DEPLOY_TAG}
