[Unit]
Description=SPIRE Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/spire-agent run -config /etc/spire/agent/agent.conf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
